#logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

#menu {
    font-family: lato;
    font-size: 100%;
    position: fixed;
    display: bloc;
    left: 20px;
    top: 180px;
    width: 130px;
    height: 600px;
    line-height: 14pt;
    overflow:auto;
}

#menu ul {
    list-style: none; 
    margin: 7px 0px 7px 15px ; 
    padding: 0px;
}

#postamble {
	text-align: center;
	margin-top: 50px;
	border-top: 1px dotted #DDD;
    }


#postamble p {
    font-size: 0.75em;
    margin: 0px;
}

a {
    text-decoration: none;
    color: #000099;
}
a:visited {
    text-decoration: none;
    color:  #CC0000;
}
a:hover {
    text-decoration: underline;
    color: #CC0000;
}

#content {
    font-size: 14pt;
    font-family: lato;
    margin-left: 130px;
    line-height: 20pt;
}

#content ul,li {
    padding-right: 7pt;
}

h1.title {
    display: none;
}


h4 {
    font-size: 120%;
    color: #000099;
    padding-left: 30px;
}

.outline-4 {
    position: relative;
    line-height: 10pt;
    padding-bottom: 30px;
}


*.rss-links {
    font-size: 65%;
    float: left;
    width: 45%;
}

*.rss-rechts {
    font-size: 65%;
    float: left;
    width: 55%;
}

.outline-text-3 p {
    margin:3pt; 
    padding:0;
}

h1 {
    display: block;
    padding-top: 0px;
    font-family: alexa-std;
    font-size: 30pt;
    margin-top: 10pt;
    margin-bottom: 0pt;
    color: #000099;
}

h2 {
    display: block;
    padding-top: 30px;
    font-family: alexa-std;
    font-size: 22pt;
    margin-top: 0;
    margin-bottom: 30pt;
    color: #000099;
}

h3 {
    display: block;
    font-family: lato;
    font-size: 16pt;
    color: #000099;
}

.outline-2 {
    font-size: 13pt;
    line-height: 16pt;
    clear: both;
}

*.outline-2 img {
    box-shadow: 5px 5px 5px #aaa;
    /* margin-top: -35px; */
    margin-left: 50px;
}

.iframe {
    float: right;
}

.outline-2 p {
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 5px;
    font-family: lato;
}

code {
    background-color: #eeeeee;
    padding: 1pt;
    margin-right: 1pt;
    box-shadow: 1px 1px 1px #aaa;
}

.move { 
    float: right;
    font-family: lato;
    font-weight: 800;
    font-size: 18pt;
    color: #ccc;
    letter-spacing: 1.4pt;
    background-color: white;
    box-shadow: 0px 0px 0px white;
}


@media(min-width:1000px){
    body {
        padding: 20px;
        margin-left: 50px;
        margin-right: 30px;
    }
}


@media(min-width:850px) and (max-width:1000px){
    body {
	background: url(img/gravatar-klein.jpg) no-repeat 5px 80px;
        padding: 10px;
        margin-left: 25px;
        margin-right: 15px;
    }

    #logo {
	display: none;
    }
}

@media(max-width:800px){
    body {
	background: url(img/gravatar-klein.jpg) no-repeat 5px 50px;
        padding: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #logo {
	display: none;
    }
}
/* Printing */

@page
{
	margin-top:1.5cm;
    margin-bottom:1.5cm;
}

@page :left
{
  margin-left:1.5cm;
  margin-right:2cm;
}

@page :right
{
  margin-left:2cm;
  margin-right:1.5cm;
}


@media print {
    body {
        padding: 1px;
        margin-left: 0px;
        margin-right: 0px;
    }

    #content {
	font-size: 11pt;
	margin-left: 0px;
	line-height: 13pt;
    }

    h1 {
	font-size: 16pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
    }
    
    h2 {
	font-size: 14pt;
	margin-bottom: 14pt;
	margin-top: 0pt;
    }
    
    h3 {
	font-size: 11pt;
    }

    .outline-2 {
	font-size: 11pt;
	line-height: 13pt;
	margin-top: 0px;
	margin-left: 0px;
	min-height: 0pt;
    }

    .move { 
	display: none;
    }

    #buttons { 
	display: none;
    }

    a {
	color: #000000;
    }
    a:visited {
	color:  #000000;
    }
}

